.mainNavbar {
    width: 100%;
    display: flex;
}

.navbar-brand {
    font-family: 'Lucida Handwriting';
    margin: auto;
}

.userPanel {
    align-self: flex-end;
}

.navbar-nav {
    display: inline-block;
}

.menu {
    margin: auto;
}

.nav-link {
    color: black !important;
}

.cart {
    margin-top: -20px;
}