.mainNavbar {
    width: 100%;
    display: flex;
    max-height: 35px;
}

.navbar{
    background: linear-gradient(to top right, #33ccff 0%, #6699ff 100%);    
}

.navbar-brand {
    font-family: 'Lucida Handwriting';
    margin: auto;
}

.userPanel {
    align-self: flex-end;
}

.navbar-nav {
    flex-direction: row;
}

.menu {
    margin: auto;
}

.nav-link {
    color: black !important;
}

.cart {
    margin-top: 5px;
}